<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatury w kraju</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="temperatures" type="java.util.List<Average>"*/-->
    <dl th:each="temperature : ${temperatures}">

        <dt> <label>Miejsce: <label th:text="${temperature.getTown}"> </label></label></dt>
        <dt> <label>średnia dobowa: <label th:text="${temperature.getRoundTheClockAverage}"></label></label> </dt>
        <dt> <label>średnia dzienna: <label th:text="${temperature.getDailyAverage}"></label></label> </dt>
        <dt> <label>średnia nocna: <label th:text="${temperature.getNightAverage}"></label></label> </dt>
        <hr>
    </dl>

</main>
</body>
</html>